---
layout: page
permalink: /news/
title: News
in_menu: Y
sort: 2
lang: en
ref: news
---

Don't miss any news, follow our <a href="{{ site.baseurl }}/feed.xml">feed</a>!

<div class="posts"> 
	{% assign posts=site.posts | where:"type", "post" | where:"lang", page.lang %}
	{% for post in posts %}
	<article class="post"> 

		<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1> 
                        <div></div>
			<div class="entry"> 
				{% if post.img %}<a href="{{ site.baseurl }}{{ post.url }}"><img align="left" src="{{ site.baseurl }}/assets/post/{{post.img}}"/></a>{% endif %}{{ post.excerpt }} 
			</div> 
		<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a> 
		
	</article> 
   {% endfor %} 
</div> 
