---
layout: page
permalink: /fr/news/
redirect_from:
  - /news-fr/
title: Blog
in_menu: true
sort: 2
lang: fr
ref: news
alternate: feed_fr.xml
---

<div class="rssfeed">
<a href="{{ site.baseurl }}/{{ page.alternate }}"><i class="fa fa-rss" aria-hidden="true" style="font-size:36px;color:orange"></i></a> Abonnez-vous au flux !
</div>
{% include subscribe.html %}
<br/>

<div class="posts">
	{% assign posts=site.posts | where:"lang", page.lang %}
	{% for post in posts %}
	<article class="post">

		<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
			<div class="entry">
				{% if post.img %}<a href="{{ site.baseurl }}{{ post.url }}"><img align="left" src="{{ site.baseurl }}/assets/post/{{post.img}}"/></a>{% endif %}{{ post.excerpt | truncatewords: 25}}
			</div>
		<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{site.data.trad["read_more"][page.lang]}}</a>

	</article>
   {% endfor %}
</div>
{% include subscribe.html %}
<div class="rssfeed">
<a href="{{ site.baseurl }}/{{ page.alternate }}"><i class="fa fa-rss" aria-hidden="true" style="font-size:36px;color:orange"></i></a> Abonnez-vous au flux !
</div>
