<style>.embed-container { position: relative; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
{%if include.gif == true %}
<video loop autoplay class='embed-container'>
{% else %}
<video controls class='embed-container'>
{% endif %}
   <source src="{{site.base_url}}/assets/video/{{include.id}}" type="video/ogg">
   {{site.data.trad["video_not_supported"][page.lang]}}
</video>
