<div class="wrapper lang"> 
{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %} 
{% for post in posts %} 
	<span class="lang_item"><a href="{{ post.url }}" class="{{ post.lang }}">{{ site.data.langdescr[post.lang] }}</a></span>
{% endfor %} 

{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %} 
{% for page in pages %}
	<span class="lang_item"><a href="{{ page.url | prepand: site.baseurl}}" class="{{ page.lang }}">{{ site.data.langdescr[page.lang] }}</a></span>
{% endfor %} 

{% assign tools=site.tools | where:"ref", page.ref | sort: 'lang' %} 
{% for tool in tools %}
	<span class="lang_item"><a href="{{ tool.url | prepand: site.baseurl}}" class="{{ tool.lang }}">{{ site.data.langdescr[tool.lang] }}</a></span>
{% endfor %} 

{% assign quicks=site.quick | where:"ref", page.ref | sort: 'lang' %} 
{% for quick in quicks %}
	<span class="lang_item"><a href="{{ quick.url | prepand: site.baseurl}}" class="{{ quick.lang }}">{{ site.data.langdescr[quick.lang] }}</a></span>
{% endfor %} 
</div> 
